body{
	background: url(images/tiny_grid.png);
}

#header {
	text-align:center;
	font-weight: bold;
	font-size:22px;
	padding:20px;
	padding-top:15px;
	color:#efefef;

	border-bottom:3px solid #333333;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4286d7+0,3265a2+100 */
background: rgb(66,134,215); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(66,134,215,1) 0%, rgba(50,101,162,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,134,215,1)), color-stop(100%,rgba(50,101,162,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(66,134,215,1) 0%,rgba(50,101,162,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(66,134,215,1) 0%,rgba(50,101,162,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(66,134,215,1) 0%,rgba(50,101,162,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(66,134,215,1) 0%,rgba(50,101,162,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4286d7', endColorstr='#3265a2',GradientType=0 ); /* IE6-9 */

}

#logo {
	height:90px;
	margin-bottom:20px;
}


.thumbnail:hover {
	opacity:0.25;
}

.fixed-col-no {
	position: absolute !important;
	left: 0px;
	top:auto;
	width:100px !important;
}

.fixed-col-uraian {
	position: absolute !important;
	left: 100px;
	top:auto;
	width:520px !important;
}

.fixed-col-jumlah {
	position: absolute !important;
	left: 550px;
	top:auto;
	width:100px !important;
}

.anggaran-wrapper {
	overflow-x:scroll;
	margin-left:630px; 
}

.col-anggaran {
	width:150px !important;
}

.bg-1 {
	background:#eeeeee;
	background: none;
}

.bg-2 {
	background:#dddddd;
	background: none;
}

.bg-3 {
	background:#cccccc;
	background: none;
}

.bg-4 {
	background:#bbbbbb;
	background: none;
}


.breadcrumbs {
	margin-top:20px;
	padding:10px;
	background:#efefef;
	border-bottom:1px solid #cccccc;
}

.info-box {
	padding:25px 20px;
	padding-bottom:30px;
	color:#ffffff;
}

.info-box .icon {
	font-size: 48px;
	margin-right: 20px;
	margin-bottom:20px;
}
.info-box .title {
	font-size:16px;
	margin-bottom:3px;
}

.info-box .content {
	text-align: left;
	font-size:22px;
	line-height: 22px;
}

a:hover {
	text-decoration: none !important;
}

#mainnav .navbar-default {
	background-color: #5776B7;
	border: 0px solid #ccc;
	z-index: 100;
}

#mainnav .navbar-default .navbar-brand {
	font-weight: bold;
	font-family: verdana;
	color: white;

}

#mainnav .navbar-default .navbar-nav>li>a {
	font-weight: none !important;
	font-family: verdana;
	color: white;
	font-size: 13px;
}

#mainnav .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #3e152b;
}

#mainnav .navbar-default .navbar-nav .active a {
	font-weight: none !important;
	font-family: verdana;
	color: white;
	background-color: #3e152b;
}

#mainnav .navbar-default .navbar-nav>.open>a {
	background-color: #3e152b;
}

#mainnav .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: #dd4814;
}



 .fluid-menu{
    background-color: #5776B7;
    height: 50px;
}
