@font-face {
          font-family: 'Sintony';
          font-style: normal;
          font-weight: 400;
          src: local('Sintony'), url('fonts') format('woff');
        }
body
{
	margin: 0;
	padding: 0;
	color: #555;
	background: #7BA9DE !important;
	width:100%;
	height:100%;
	font-family: 'Sintony', sans-serif !important;
	display:block;
	
}

#bg {
	position:fixed;
	top:0;
	left:0;
	min-height: 100%;
	min-width: 100%;

}

#page
{
	background: #fff;
	border: 1px solid #cccccc;

	padding-top:10px;
	padding-bottom:10px;

	margin-top:20px;
	margin-bottom:25px;

	border-radius: 5px;

	background: #F5F5F5;

}

#header table{
	font-family: "Times New Roman", Times, serif;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    background: #F5F5F5;
    margin-top: 5px;
    padding:10px;
    border:0px solid #7BA9DE;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	margin-bottom:20px;
	margin-left:10px;
	margin-top:10px;
}

#adminnav .navbar {
	margin-bottom:0px;

}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainnav .navbar {


}

#mainnav ul.nav li a {
	color:#ffffff;
}

#mainnav .navbar a:hover {
	color: #ffffff;
    text-decoration: none;
    background-color: #DD9F27 !important;
}

#mainnav .navbar-default .navbar-nav>.active>a{
	background-color : #DD9F27;
}

#inputan{
	background-color : white;
	padding-height: 5px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	border: 2px solid #E3E3E3;
	border-radius: 6px;
}

.breadcrumb{
	border: 2px solid #E3E3E3;
	background-color: #ffffff!important;
}

#carikode{
	background-color : white;
	padding: 20px;
	border: 2px solid #E3E3E3;
	border-radius: 6px;
}

#footer{
	height: 200px;
	background-color: black;
}

.help-block {
	margin-bottom:0px !important;
}


.well {
	margin-bottom:0px !important;
}

button.btn-primary {
	
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

}

.alert {

}

#mainnav {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #D44413;
    background-image: -moz-linear-gradient(top, #CE4213, #DD4814);
    background-image: -ms-linear-gradient(top, #CE4213, #DD4814);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CE4213), to(#DD4814));
    background-image: -webkit-linear-gradient(top, #CE4213, #DD4814);
    background-image: -o-linear-gradient(top, #CE4213, #DD4814);
    background-image: linear-gradient(top, #CE4213, #DD4814);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce4213', endColorstr='#dd4814', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    margin: 0 -16px 0 -16px;
    font-family: georgia;
    font-size: 13px;

}

#mainnav td{
	border-right: 1px solid #C03D14;
    border-left: 1px solid #E6633A;
}

#mainnav td a {
    float: none;
    padding: 10px 15px 10px;
    color: #ffffff;
    font-weight: none !important;
    text-decoration: none;
    width: 100%;

}

#mainnav td a:hover {
    color: black;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	padding-top: 13px;
    padding-bottom: 14px;
}

#mainnav .active {
    color: #333333;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.panel-primary>.panel-heading {
	font-weight: bold;
    line-height: 20px;
    color: #fff;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 0 10px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#formdepan .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 180px;
}

#formdepan .form-horizontal .control-label {
    text-align: left;
}

#inner{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
}

#adminnav .navbar-default {
    background-color: #5776B7;
    border: 0px solid #ccc;
    z-index: 100;
}

#adminnav .navbar-default .navbar-brand {
    font-weight: bold;
    font-family: verdana;
    color: white;

}

#adminnav .navbar-default .navbar-nav>li>a {
    font-weight: none !important;
    font-family: verdana;
    color: white;
    font-size: 13px;
}

#adminnav .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #3e152b;
}

#adminnav .navbar-default .navbar-nav .active a {
    font-weight: none !important;
    font-family: verdana;
    color: white;
    background-color: #3e152b;
}

#adminnav .navbar-default .navbar-nav>.open>a {
    background-color: #3e152b;
}

#adminnav .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: #dd4814;
}



.fluid-menu{
    background-color: #5776B7;
    height: 50px;
}

#cek-tiket {
    background: #ffffff;
    padding:20px;
}